<table width="100%" style="background-color: #C8E6E6; border-collapse: collapse; font-family: sans-serif"  >
	<tr>
		<td style="background-color: #E20612;">&nbsp;</td>
		<td style="background-color: #E20612; color: #ffffff"><img src='cid:unique@n1-logo' /></td>
		<td style="background-color: #E20612;">&nbsp;</td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td style="background-color: #2A6C86">&nbsp;</td>
		<td style="background-color: #2A6C86; padding: 5px 0;" >
			<h1 style="margin: 0; color: #ffffff">Sæl(l) {{data.name}}</h1>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<p>Myndbandið þitt <em>{{data.video_name}}</em> er tilbúið og þú getur nálgast það hér:</p>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<a href="http://{{data.host}}/myndband/{{data._id}}" style="background-color: #5BC0DE; color: white; padding: 15px; text-decoration: none;">myndabandið þitt</a>
			<a href="http://www.facebook.com/sharer.php?s=100&p[title]={{'Vegabréfaleikur N1'|url_encode}}&p[url]=http://{{data.host}}/myndband/{{data._id}}&p[summary]={{'Vegabréfaleikur N1'|url_encode}}" class="btn btn-info facebook" style="background-color: #5BC0DE; color: white; padding: 15px;text-decoration: none;">f | deila</a>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td style="background-color: #E20612;" colspan="3">
			<table width="100%">
				<tr>
					<td><a href="http://vegabrefaleikur.is/skilmalar" style="color: #ffffff; text-decoration: none; font-size: 72%">Skilmálar</a></td>
					<td>&nbsp;</td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
