{% extends 'layout.html' %}

{% block body %}

<main role="main" class="game puzzles">

	<div class="container">
        <h2 class="banner-h2-blue"><span>Skókast</span></h2>
		<img src="/stylesheets/images/MTWI_skokast.png" />
		<p>Markmiðið er að sparka skóm svo þeir lendi á borði. Finndu hentugt borð,
			stattu fimm skrefum frá því og sveiflaðu fætinum þannig að skór svífi af fætinum og að skotmarkinu!</p>
		<p>Þú mátt reyna 12 sinnum að koma skónum á borðið. Þetta er eitt af fáum tækifærum sem þú
			hefur til þess að hafa skóna upp á borði án þess að fá skammir.</p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Kexkökufés</span></h2>
		<img src="/stylesheets/images/MTWI_kexkokukast.png" />
		<p>Settu kexkökuna á ennið á þér og reyndu að koma henni í munninn með því að nota andlitsvöðvana.
			Þú mátt ekki nota hendurnar – bara gretta þig og geifla!</p>
		<p>Ef kexkakan dettur af andlitinu á þér máttu byrja upp á nýtt. Ef þetta heppnast hjá þér
			færðu að gæða þér á kexkökunni.</p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Ekki trompast</span></h2>
		<img src="/stylesheets/images/MTWI_ekkitrompast.png" />
		<p>Fjórir kóngar eru lagðir ofan á pizzukassa (fjarlægðu matarleifarnar fyrst) og látnir snúa upp. Restinni úr
			spilastokknum er dreift yfir kóngana svo ekki sjáist í þá.</p>
		<p>Dragðu andann djúpt og blástu á spilin sem snúa niður svo að kóngarnir fjórir standi einir eftir á pizzukassanum.</p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Hallandi</span></h2>
		<img src="/stylesheets/images/MTWI_hallandi.png" />
		<p>Hér þarftu að stilla þremur gosdósum upp svo þær geti staðið skáhallt á röndinni á botninum (sjá mynd).</p>
		<p>Ef dósin er full er ekki hægt að stilla henni upp á réttan hátt og þess vegna þarftu að drekka úr henni. Ef þú drekkur of mikið eða lítið þá dettur hún.</p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Öfugur stafli</span></h2>
		<img src="/stylesheets/images/MTWI_ofugur.png" />
		<p>Taktu fjögur pappaglös og þrjú frekar stíf spjöld. Settu fyrsta glasið á hvolf ofan á borð og svo eitt spjald ofan á.
			Svo stillir þú afgangnum af glösunum upp á sama hátt.</p>
		<p>Næst þarftu að kippa pappaspjaldinu undan hverju glasi svo að það falli snyrtilega ofan á glasið fyrir neðan. </p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Tengingaleikur</span></h2>
		<img src="/stylesheets/images/MTWI_teningaleikur.png" />
		<p>Þú hefur sextíu sekúndur til að stafla sex teningum á íspinnaspýtu sem þú heldur í munninum og búa til turn.</p>
		<p>Turninn þarf að standa í þrjár sekúndur svo að þrautin teljist kláruð. Gangi þér vel. </p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Jón eplabóndi</span></h2>
		<img src="/stylesheets/images/MTWI_eplabondi.png" />
		<p>Epli eru jafn mismunandi og þau eru mörg. Þau eiga það þó sameiginlegt er að breiðasti hluti
			þeirra er efst og undir þeim eru fimm litlir hnúðar.</p>
		<p>Í þessari þraut þarftu að stafla fjórum eplum á sextíu sekúndum. Ef turninn fellur í miðjum klíðum máttu byrja upp á nýtt.</p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>


	<div class="container">
        <h2 class="banner-h2-blue"><span>Hangs</span></h2>
		<img src="/stylesheets/images/MTWI_hangs.png" />
		<p>Í þessari þraut þarftu að nota einn banana, snærisspotta, tvær appelsínur og húllahring.</p>
		<p>Byrjaðu á að binda snærið um mittið á þér og svo bananann í endann á snærinu u.þ.b. 30 sentimetra frá gólfi.
			Sveiflaðu svo banananum þannig að hann velti tveimur appelsínum inn í húllahringinn sem er einn meter frá byrjunarreitnum. </p>
		<h3>Leysa verður þrautina á 60 sekúndum</h3>
		<a href="/senda-inn-myndband" class="btn btn-default">SENDA INN MYNDBAND <i class="icon-play"></i></a>
	</div>
</main>

{% endblock %}