{% extends 'layout.html' %}

{% block body %}
<main role="main" class="game terms">
    <div class="container">
       <h1>Skilmálar</h1>
        <ol>
            <li><span>Þátttakandi verður að vera eigandi myndbandsins sem um ræðir.</span> </li>
            <li><span>Með þátttöku í leiknum veitir þátttakandi N1 fulla og ótakmarkaða heimild til að nota innsend myndbönd í almennt markaðsefni og á heimasíðum, samfélagsmiðlum og fjölmiðlum án þess að greiðsla eða önnur þóknun komi fyrir. N1 áskilur sér þannig rétt til að deila myndböndum sem þeim finnst skemmtileg eða áhugaverð á samfélagsmiðlum sínum.</span> </li>
            <li><span>Myndband birtist sjálfkrafa á <a href="http://vegabrefaleikur.is">vegabréfaleikur.is</a> en fyrirtækið áskilur sér þó rétt til að fjarlægja innsend myndbönd.</span> </li>
            <li><span>Myndbönd og ljósmyndir mega ekki hafa birst áður í auglýsingalegum tilgangi. Verði þátttakandi uppvís að því að hafa notað efnið áður og fengið greitt fyrir, verður honum vikið úr leiknum.</span></li>
            <li><span>Þátttakandi ábyrgist að eiga með sönnu það efni sem hann sendir inn og ber jafnframt einn ábyrgð á því ef efni hans brýtur gegn réttindum annarra, þ.á m. höfundarrétti þriðja aðila.</span></li>
            <li><span>N1 tekur ekki ábyrgð á því efni sem sent er inn, sér í lagi hvað varðar höfundarrétt á því. N1 áskilur sér einnig rétt til að velja og birta einungis það sem fyrirtækið telur henta fyrir eigið kynningarefni og áskilur sér fullan rétt til að nota ekkert af því efni sem sent er inn.</span> </li>


        </ol>
    </div>
</main>

{% endblock %}