
	$padding:			16px;

	$font-size-base:	16px;
    $font-size-small:   13px;
	$font-size-middle:	20px;
	$font-size-large:	40px;
	$font-size-huge:	48px;
	$font-lineheight:	24px;

	$color-red:			rgb(226,6,18);
	$color-green:		rgb(180,169,90);
	$color-blue-light:	rgb(200,230,230);
	$color-blue-middle:	rgb(0,177,219);
	$color-blue-dark:	rgb(37,107,133);
	$color-brown-light:	rgb(223,223,205);
	$color-brown-dark:	rgb(223,223,205);
	$color-white:		rgb(255,255,255);
	$color-black:		rgb(52,52,52);


	$animation-speed:	.2s
